header{
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 50px;
    background: rgb(0, 0, 0);

}
.content{
    width: 1200px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0px auto;
    

}

h1{
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 40px;
}